.contextMenu
{
    display: block;
    position: absolute;
    z-index: 15;
    width: auto;
    min-width: 300px;
    height: auto;
    background-color: white;
    border-radius: 0.5em;
    overflow: hidden;
    border: none;
}
.contextMenu input[type="button"]
{
    border: none;
    padding: 0.2em;
    font-size: 1em;
    background-color: white;
    width: 100%;
    text-align: left;
    color: black;
}
.contextMenu input[type="button"]:hover
{
    background-color: blue;
    color: white;
}
.contextMenu.invisible
{
    display: none;
}